#banner {

	width: 100%;
	margin: 0 0 0 0;
	
}


.principal {

	
	background: pink;
	margin: 0 0 0 0;

}

.titulo-principal {

	color: darkmagenta;
	text-align: center;
	font-size: 55px;
}

nav {

	text-align: center;
	text-transform: uppercase;
	
}

nav li {

	display: inline;
}


nav a {

	margin: 0 0 0 70px;
	
}

.sobre {

	color: darkmagenta;
	text-align: center;
	margin: 0 0 0 0;
	
}

.paragrafo-centralizado {
	text-align: center;
	font-size: 18px
}




.itens {

	font-style: italic;
	font-size: 20px
}

.titulo-centralizado {

	text-align: center;
	color: darkmagenta
}

.produtos {

	background: #ffffff;
	padding: 20px
}

ul{

	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 10%
}

.imagemprodutos{

	width: 50%
}