header {

	background: pink;
	

}



#banner {

	width: 100%;
	margin: 0 0 0 0;
	
}


.principal {

	
	
	margin: 0 0 0 0;

}

.titulo-principal {

	color: darkmagenta;
	text-align: center;
	font-size: 55px;
}

nav {

	text-align: center;
	text-transform: uppercase;
	margin: 40px 0 0 0;
	
}

nav li {

	display: inline;
	
}


nav a {

	margin: 0 0 0 70px;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: darkmagenta;
	
}

nav a:hover {

	color: rgb(150, 101, 160);
	text-decoration: underline;
}

.sobre {

	color: darkmagenta;
	text-align: center;
	margin: 20px 0 0 0;
	padding: 0 0 15px 0;
	font-size: 25px;
	font-weight: bold;
	
	
}

.paragrafo-centralizado {
	text-align: center;
	font-size: 18px;
	font-style: italic;
	
}




.itens {

	font-style: italic;
	font-size: 20px
}

.titulo-centralizado {

	text-align: center;
	color: darkmagenta;
	font-size: 25px;
	font-weight: bold;
	margin: 40px 0 0 0;
	
}

.produtos {

	background: #ffffff;
	padding: 20px
}

ul{

	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin: 0 0 0 60px;
}

.imagemprodutos{

	width: 50%;
	margin: 0 0 0 120px;
}

main {

	width: 940px;
    margin: 0 auto;
}

form {

	margin: 40px 0;
}

label {

	font-size: 20px;
	margin: 0 0 10px;
	display: inline-block;
}



.input-padrao {

	display: block;
	margin: 0 0 20px;
	width: 50%;
	padding: 10px 10px;

}

legend {

	font-size: 20px;
	margin: 20px 0 10px;
}

.input-radio {

	margin: 0 5px 0 15px;
}